@font-face {
    font-family: 'Sansation';
    src: url("../fonts/Sansation-Regular.ttf")
}

@font-face {
    font-family: 'Italiana';
    src: url("../fonts/Italiana-Regular.ttf");
}

body {
    margin: 0;
    background-color: #fff;
    /*background: url(../img/background_image.png) no-repeat;*/
    background-size: cover;
	font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.page-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
    min-height: calc(100vh - 70px);
    width: 100%;
}

/*.header--fixed {
    
}*/

.header {
    /*left: 0;
    top: 0;*/
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
        width: 100%;
        height: 70px;
        left: 0px;
        top: 0px;
    background: #7e949d;
}

.header__content {
    align-items: center;
    height: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header_logo {
    height: 50px;
    margin-right: 15px;
}

.header_logo img {
	height: 100%;
}

.header-navigation__list {
	display: flex;
	gap: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-navigation__link {
	color: rgb(235, 235, 235);
    font-size: 18px;
	text-decoration: none;
}

.header__auth-btns {
    margin-left: 15px;
}

.header__welcome {
    font-size: 14px;
    font-weight: 400;
    font-family: PFBeauSansPro, sans-serif;
    color: #fff;
    margin: 0 20px;
}

.header__button {
	align-items: center;
	border: 1px solid #fff;
	border-radius: 3px;
	box-sizing: border-box;
	color: #fff;
	display: inline-flex;
	font-size: 20px;
	height: 33px;
	justify-content: center;
	margin-right: 7px;
	min-width: 75px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40
}

.header__dt-switch {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.header__dt-switch__icons img {
    width: 20px;
}

input[type="checkbox"] {
    position: relative;
    width: 30px;
    height: 16px;
    -webkit-appearance: none;
    outline: none;
    background-color: #bababa;
    border-radius: 20px;
    transition: .5s;
}

input:checked[type="checkbox"] {
    background: rgb(65, 65, 65);
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    transform: scale(1.1);
    border-radius: 50%;
    background: #fff;
    top: 1.5px;
    left: 2px;
    transition: .5s;
}

input:checked[type="checkbox"]:before {
    background: rgb(255, 255, 255);
    left: 16px;
}

.container-main{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.container_insider{
    margin: 0;
    display: flex;
    dlex-direction: row;
}

.visible_part {
    width: 50%;
    background: url(../img/background_image.png) no-repeat;
}

.sign_up_invite_panel{
    padding: 30px;
    color: #000;
    text-decoration: none;
    font-family: 'Sansation';
    font-style: normal;
        font-weight: 400;
        font-size: 18px;
}

.right_panel {
    width: 50%;
    /*padding: 15px;*/
    background-color: #758498;
    opacity: 85%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Sansation';
    font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 26px;
        color: #FFFFFF;
}

.logo_main {
    height: 80%;
    width: auto;
    margin-left: 0.8%;
}

.footer {
    background: #151E23;
    padding: 20px 0;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__container {
    margin: auto;
    padding: 0 20px;
}

.footer__container-floor {
    max-width: 1550px;
    min-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.footer__container-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__container-section p {
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 0;
}

.footer__container-section a {
    text-decoration: none;
    font-family: 'Sansation';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 22px;
        color: #FFFFFF;
        margin-top: 2px;
        margin-bottom: 2px;
}

.footer__container-media-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_namer {
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 16px;
}

.tel {
    font-family: 'Sansation';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        color: #FFFFFF;
        margin-top: 18px;
        margin-bottom: 0;
}

.tel_exp {
    font-family: 'Sansation';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        margin-top: 0;
}

.logo_text {
    font-family: 'Italiana';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        margin-top: -10px;
        margin-bottom: 0;
        color: #FFFFFF;
}

.CopyRight {
    font-family: 'Sansation';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin-top: 5px;
        margin-bottom: 0;
        color: #FFFFFF;
}

@media (min-width: 700px) {
    .main_content {
        display: flex;
    }
}

